.vms {
  background: gray;
  color: black;
  margin: 0;
  padding: .5em 1em;
  border-top: 2px solid black;
  font-size: 16px;
  line-height: 1.1;
  font-weight: bold;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  -webkit-text-size-adjust: 100%;
}
.vms.open {
  top: 0;
  border-top: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.vms .margin {
  margin: auto;
  max-width: 924px;
}

.vms a {
  color: white;
  text-decoration: none !important;
}

.vms a:hover {
  color: #ccc;
  text-decoration: none !important;
}

.vms a.active {
  color: #fff;
}

.vms p {
  margin: 0;
  font-size: 1em !important;
}

.vms ul {
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;

}

.vms li {
  margin: 0 0 .5em 0;
  padding: 0;
}

.vms .clickable {
  cursor: pointer;
}

.vms .xbutton {
  color: #fff;
  font-size: .66em;
  float: right;
  margin: .4em 0 0 0;
  cursor: pointer;
  line-height: 1;
  text-transform: uppercase;
}

.vms .xbutton:hover {
  color: black;
}

.vms .xbutton span {
  font-size: 1.25em;
  line-height: 0;
  margin-left: .25em;
}

.vms .xbutton.shrink {
  display: none;
}

.vms .xbutton.finish {
  display: none;
}

.vms .prompt {
  color: black;
}

.vms .prompt span {
  color: white; display: block;
}

.vms .survey {
  display: none;
  overflow: hidden;
}
 
.vms .survey p {
  margin-top: 1em;
  font-size: 1em;
}
	
.vms .survey li a {
  color: #ccc !important;
}

.vms .survey li a:hover {
  color: #BBC428 !important;
}
	
.vms .survey .done {
  color: transparent;
  margin: 1em 0;
}

.vms .survey .done.clickable {
  color: white;
}

.vms .survey p.infobutton {
  font-size: .9em;
  margin-bottom: 0;
}

.vms .survey p.infotext {
 display: none;
 font-size: .8em !important;
 margin: 0;
}

.vms .survey p.infotext a {
 color: #ccc;
}

.vms .mquery {
 float: right;
}

@media screen and (min-width: 500px) {
    
  .vms .prompt span {
      display: inline;
  }
  
}

@media screen and (min-width: 570px) {

  .vms, .vms p {
      font-size: 18px;
  }
  
}

@media screen and (min-width: 700px) {
  .vms.open { 
    top: auto;
    border-top: 2px solid black;
    overflow: auto;
  }

  .vms li { 
    margin-bottom: 0;
  }
  
  .vms .mquery {
    float: left;
  }
  
}

@media screen and (min-width: 800px) {
    
  .vms,
  .vms p {
    font-size: 20px;
  }
  
}
